<!-- book_detail.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ book.title }} by {{ book.author }}</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ book.cover_image.url }}" class="card-img-top custom-card-size" alt="Book Cover">
            </div>
            <div class="col-md-6">
                <a href="{% url 'process-order' pk=book.pk %}" class="btn btn-primary btn-lg">Buy Now</a>
                {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'delete-book' pk=book.pk %}" style="margin-left: 24%" class="btn btn-danger btn-lg">Delete Book</a>
                    <a href="{% url 'edit-book' pk=book.pk %}" class="btn btn-secondary btn-lg">Edit Book</a>
                {% endif %}
                <hr>
                <p class="card-text">Price: ${{ book.price }}</p>

                <hr>
                <h1 class="mb-3">{{ book.title }} - {{ book.category }} </h1>

                <p class="text-muted">By {{ book.author }}</p>

                <hr>
                <h2>Plot Summary</h2>
                {% if user.is_authenticated and user.is_staff %}

                {% endif %}

                <div class="book-description">

                    {% if book.description|length > 1000 %}
                        <div class="description-truncate">
                            <p class="mb-4">{{ book.description|truncatechars:1000 }}
                                <button class="btn btn-link show-more-btn">Show More...</button>
                            </p>
                        </div>
                        <div class="description-full" style="display: none;">
                            <p class="mb-4">{{ book.description }}
                                <button class="btn btn-link show-less-btn">Show Less...</button>
                            </p>
                        </div>
                    {% else %}
                        <p class="mb-4">{{ book.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr>

        <h2>Reader Reviews</h2>
        <hr>
        {#TODO: users can update their reviews#}
        {% for review in book.reviews.all %}
            <div class="card mb-3">
                <div class="card-body">
                    <strong>
                        {{ review.user.username }}
                    </strong>
                    <p>
                        {{ review.created_at }}
                    </p>
                    <hr>
                    {% if review.review_text|length > 500 %}

                        <div class="description-truncate mb-4">
                            {{ review.review_text|truncatechars:500 }}
                            <button class="btn btn-link show-more-btn">Show More...</button>
                        </div>
                        <div class="description-full" style="display: none;">
                            {{ review.review_text }}
                            <button class="btn btn-link show-less-btn">Show Less...</button>
                        </div>
                    {% else %}
                        <div class="mb-4">{{ review.review_text }}</div>
                    {% endif %}
                    <hr>
                    {% if user.is_authenticated and user.is_staff %}
                        {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'delete-review' pk=review.pk %}"
                               class="btn btn-danger delete-review-btn">Delete user review</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        {% empty %}
            <p>No reviews yet. Be the first to write one!</p>
        {% endfor %}


        {% if user.is_authenticated %}
            <hr>
            <h2>Write a Review</h2>
            <form method="post" class="mt-3 custom-form" style="width: 100%">
                {% csrf_token %}
                {{ review_form.as_p }}
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
        {% else %}
            <div class="alert alert-info mt-3">
                <p>Please <a href="{% url 'login' %}">login</a> to write a review.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}