<!-- confirm_delete.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>Confirm Delete</h2>
        <hr>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ book.cover_image.url }}" class="img-fluid" alt="Book Cover">
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <hr>
                        <p class="card-text">By {{ book.author }}</p>
                        <hr>
                        <p class="card-text">Price: ${{ book.price }}</p>
                        <hr>
                        <form method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                            <button type="submit" class="btn btn-secondary" name="cancel">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
