<!-- order_form.html -->
{% extends 'base.html' %}
{% block content %}
    <form method="post" action="{% url 'process_order' pk=book.pk %}">
        {% csrf_token %}

        {{ form.as_p }}

        <!--a hidden input field to pass the book.pk value -->
        <input type="hidden" name="pk" value="{{ book.pk }}">

        <button type="submit">Place Order</button>
    </form>
{% endblock %}


<!-- order_form.html -->

{#<form method="post" action="{% url 'process_order' pk=book.pk %}">#}
{#    {% csrf_token %}#}
{##}
{#    <!-- Display book details here, e.g., title, author, price -->#}
{#    <input type="hidden" name="book_id" value="{{ book.id }}">#}
{##}
{#    <label for="quantity">Quantity:</label>#}
{#    <input type="number" name="quantity" value="1">#}
{##}
{#    <label for="delivery_address">Delivery Address:</label>#}
{#    <input type="text" name="delivery_address" required>#}
{##}
{#    <label for="city">City:</label>#}
{#    <input type="text" name="city" required>#}
{##}
{#    <label for="zip_code">ZIP Code:</label>#}
{#    <input type="text" name="zip_code" required>#}
{##}
{#    <button type="submit">Place Order</button>#}
{#</form>#}
