{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>Books Catalogue</h2>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <form method="GET" style="width: 100%" class="form-inline">
                    <input type="text" name="search_query" style="width: 100%" class="form-control mr-sm-2"
                           placeholder="Search by author, title, or category" aria-label="Search"
                           value="{{ request.GET.search_query }}">
                    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Search &#x2192;</button>
                    {% if request.GET.search_query %}
                        <a href="{% url 'catalogue-page' %}" class="btn btn-secondary ml-2">Clear Search</a>
                    {% endif %}
                </form>
            </div>
        </div>
        <hr>
        <div class="mt-4" id="pagination">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?search_query={{ request.GET.search_query }}&page=1">&laquo;
                                first</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?search_query={{ request.GET.search_query }}&page={{ page_obj.previous_page_number }}">previous</a>
                        </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?search_query={{ request.GET.search_query }}&page={{ page_obj.next_page_number }}">next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?search_query={{ request.GET.search_query }}&page={{ page_obj.paginator.num_pages }}">last
                                &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            {% for book in books %}
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <img src="{{ book.cover_image.url }}" class="card-img-top" alt="Book Cover"
                             style="width: 253px; height: 350px;">
                        <div class="card-body">
                            <h5 style="height: 3rem" class="card-title">{{ book.title }}</h5>
                            <hr>

                            <p class="card-text">By {{ book.author }}</p>
                            <p class="card-text font-weight-bold text-danger">Price: ${{ book.price }}</p>

                            <hr>

                            <div class="btn-container">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'book-detail' pk=book.pk %}" style="background-color: #007bff"
                                           class="btn btn-primary btn-sm">Details</a>
                                    </div>
                                    {% if user.is_authenticated and user.is_staff %}
                                        <div class="col-6">
                                            <a href="{% url 'delete-book' pk=book.pk %}"
                                               class="btn btn-danger btn-sm btn-block">Delete</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <form style="width: 100%; background-color: transparent; box-shadow: none;" method="post"
                                              action="{% url 'add-to-cart' pk=book.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary btn-sm btn-block">
                                                <i class="fas fa-shopping-cart mr-2"></i> Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="mt-4" id="pagination">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?search_query={{ request.GET.search_query }}&page=1">&laquo;
                                first</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?search_query={{ request.GET.search_query }}&page={{ page_obj.previous_page_number }}">previous</a>
                        </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?search_query={{ request.GET.search_query }}&page={{ page_obj.next_page_number }}">next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?search_query={{ request.GET.search_query }}&page={{ page_obj.paginator.num_pages }}">last
                                &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
