{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        <h1>Welcome to the Online Bookstore!</h1>

        <h2>Featured Books:</h2>
        <div class="row">
            {% for book in featured_books %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ book.cover_image.url }}" class="card-img-top" alt="Book Cover">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">{{ book.author }}</p>
                            <p class="card-text">{{ book.description|truncatechars:20 }}</p>
                            <p class="card-text">${{ book.price }}</p>
                            <a href="{% url 'book_detail' pk=book.pk %}" class="btn btn-primary">Details</a>
                            <a href="{% url 'process_order' pk=book.pk %}" class="btn btn-primary">Buy</a>

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}