{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2>My Orders</h2>
            <a href="{% url 'profile-page' %}" class="btn btn-primary">Back to the profile page</a>
        </div>
        <hr>
        {% if orders %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
{#                {% for order in orders %}#}
{#                    <tr>#}
{#                        <td><a href="{% url 'order-detail' order.id %}">{{ order.id }}</a></td>#}
{#                        <td>{{ order.date_created }}</td>#}
{#                        <td>${{ order.get_total_price }}</td>#}
{#                        <td>{{ order.status }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
                <tr>
                    <td>placeholder</td>
                    <td>placeholder</td>
                    <td>placeholder</td>
                    <td>placeholder</td>
                </tr>
                </tbody>
            </table>
        {% else %}
            <p>No orders found.</p>
        {% endif %}
    </div>
{% endblock %}
