{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Checkout</h2>
        <hr>

        <div class="row">
            <div class="col-lg-6">
                <div class="box-element" id="form-wrapper">
                    <form id="form">
                        <div id="user-info">
                            <div class="form-field">
                                <input required class="form-control" type="text" name="shipping_full_name"
                                       placeholder="Name..">
                            </div>
                            <div class="form-field">
                                <input required class="form-control" type="email" name="shipping_email"
                                       placeholder="Email..">
                            </div>
                        </div>

                        <div id="shipping-info">
                            <hr>
                            <p>Shipping Information:</p>
                            <hr>
                            <div class="form-field">
                                <input class="form-control" type="text" name="shipping_address" placeholder="Address..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="shipping_city" placeholder="City..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="shipping_state" placeholder="State..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="shipping_zipcode"
                                       placeholder="Zip code..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="shipping_country" placeholder="Country..">
                            </div>
                        </div>

                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                    </form>
                </div>

                <br>
                <div class="box-element hidden" id="payment-info">
                    <small>Paypal Options</small>
                    <!--<button id="make-payment">Make payment</button>-->
                    <div id="paypal-button-container"></div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="box-element">
                    <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>
                    {% for cart_item in cart_items %}
                        <div class="cart-row d-flex align-items-center">
                            <div class="col-lg-3">
                                <img class="img-fluid row-image" src="{{ cart_item.book.cover_image.url }}"
                                     alt="Book Cover">
                            </div>
                            <div class="col-lg-3">
                                <p><strong>{{ cart_item.book.title }}</strong></p>
                            </div>
                            <div class="col-lg-3">
                                <p>Price: ${{ cart_item.book.price|floatformat:2 }}</p>
                            </div>
                            <div class="col-lg-3">
                                <p>Quantity: x{{ cart_item.quantity }}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <h5>Items: {{ cart.total_items }}</h5>
                    <h5>Total: ${{ cart.total_price|floatformat:2 }}</h5>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
