{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">All Users</h2>

        <!-- Color Legend -->
        <ul class="list-inline mb-4">
            <li style="padding: .5rem; border-radius: 50%;" class="list-inline-item bg-success text-light">
                <span>Super User</span>
            </li>
            <li style="padding: .5rem; border-radius: 50%;" class="list-inline-item bg-info text-light">
                <span>Staff User</span>
            </li>
            <li style="padding: .5rem; border-radius: 50%;" class="list-inline-item bg-dark text-light">
                <span>Regular User</span>
            </li>
        </ul>

        <table class="table table-hover shadow mb-5">
            <thead class="table-light">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th class="sortable">Total Orders</th>
                <th class="sortable">Total Reviews</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if user.is_superuser %}
                    <tr class="bg-success text-light">
                        {% elif user.is_staff %}
                    <tr class="bg-info text-light">
                        {% else %}
                    <tr class="bg-dark text-light">
                {% endif %}
            <td>{{ user.id }}.</td>
            <td>
                <a style="color: white; text-decoration: underline"
                   href="{% url 'user-orders-update' username=user.username %}">
                    {{ user.username }} &#x2192;
                </a>
            </td>
            <td>{{ user.total_orders }}</td>

            <td>{{ user.total_reviews }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/users-list.js' %}"></script>

{% endblock %}
